/*ini adalah style jumbotron*/
.jumbotron {
	background-image: url(pulmo7.jpg);
	background-size: cover;
	height: 750px;
	color: white;
	text-align: center;
	margin-top: -60px;

}

.jumbotron .display-4 {
	color: white;
	margin-top: -5px;
}

.jumbotron p {
	font-size:  25px;
}

.jumbotron .btn {
	border-radius: 25px;
	margin-top: 25px;
}

/*ini adalah style slider*/

.carousel-item {
	height: 800px;
}
.carousel-item {
	margin-top: -65px;
}
.carousel-item .display-4 {
	margin-top: -450px;
	font-size: 70px;
	font-weight: bolder;
}

.lol {
	margin-left: 5px;
}

.footer-bottom-text {
	text-align: center;
	background: #000;
	line-height: 75px;
}

.gery {
	list-style: none;
}

.a {
	margin-left: 10px;
}

.white {
	color: white;
}

.segment h3:before {
	color: grey;
	content: '|';
	padding-right: 10px;
}

.marker:hover {
	color: grey;
}

.fa:hover {
	color: grey;
}

.lmao {
	padding-left: 30px;
}



